.container{
    border-radius: 5px;
    box-shadow: none;
    background-color: rgb(153, 153, 155);
    width: 300px;
    display: flex;
    /* justify-content: ; */
    align-items: center;
    flex-direction: column;
    margin: 10px 5px;
    
}
.button {
 color:rgb(228, 52, 52);
 background-color: rgb(153, 153, 155);
 border-color: rgb(73, 73, 160);
 box-shadow: none;
 display: flex;
 justify-content: right;
}

.h2{
    font-size: 18px;
    color:rgb(132, 75, 5)
}
.h3{
    font-size: 12px;
    color:rgb(90, 51, 4);
    margin: 0 5px;
    
}
.img{
    width: 50%;
    height: 50%;
}