*{
    box-sizing: border-box;
   
}
.container{
    border-radius: 5px;
    box-shadow: none;
    background-color: rgb(153, 153, 155);
    width: 350px;
    display: flex;
    /* justify-content: ; */
    align-items: center;
    flex-direction: column;
    margin: 60px 5px 0 500px;
    
}
.img{
    border-radius: 50px;
    width: 300px ;
    /* margin-top: 10px;
    margin-left: 100px;
    margin-right: 10px; */
    margin: 20px 20px 20px ;
    
    
    
}
body {
    /* background-image: url('../../assets/61de2ba956418acd9ab454ceca15bbb2.jpg'); */
    background-color: rgb(27, 27, 66);
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; */
  }
.login{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.label{
    color: antiquewhite;
    font-size: 15px;
    font-family: 'Trebuchet MS';
    margin-top: 15px;
}
.button{
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgb(241, 241, 122);
    size: 305px;
    font-size: 20px;
    font-family: 'Trebuchet MS';
}
.input{
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Trebuchet MS';
    text-align: center;
}