.container{
    border-radius: 1px;
    box-shadow: none;
    background-color: rgb(153, 153, 155);
    width: 350px;
    display: flex;
    /* justify-content: ; */
    align-items: center;
    flex-direction: column;
    
}
.button {
 color:rgb(76, 75, 75)
}

.h2{
    font-size: 15px;
    color:rgb(132, 75, 5)
}
.img{
    width: 50%;
    height: 50%;
}